$primary-1: #7700FF;
$primary-2: #FF4F12;

$secondary-1: #29CCA3;
$secondary-2: #2F9AFF;

$grayscale-1: #101828;
$grayscale-2: #1D2533;
$grayscale-3: #272F3D;
$grayscale-4: #3D4555;
$grayscale-5: #797E8B;
$grayscale-6: #B5B7C0;
$grayscale-7: #D3D4DB;
$grayscale-8: #E8E8EE;
$grayscale-9: #F4F4F5;
$grayscale-10: #FFF;

$transparent-1: rgba(16, 24, 40, 1);
$transparent-2: rgba(16, 24, 40, 0.7);
$transparent-3: rgba(16, 24, 40, 0.5);
$transparent-4: rgba(16, 24, 40, 0.25);
$transparent-5: rgba(16, 24, 40, 0.1);
$transparent-6: rgba(16, 24, 40, 0.05);
