<div class="container">
  <app-tabs class="tabs">
    <div appTab class="container-text">

      <h1 class="mega">Ростелеком дизайн</h1>
      <p class="body-m description">
        Эта дизайн-система — один из ключевых аспектов формирования и развития цифровой Экосистемы Ростелекома.
        Дизайн-система обеспечивает продукты.
      </p>

      <div class="margin-top">
        <button appButton fill="solid" routerLink="board">Доска</button>
        <button appButton fill="outline" class="margin-left">Начать</button>
      </div>

    </div>

    <div appTab class="container-text">

      <h1 class="mega">Ростелеком дизайн страница 2</h1>
      <p class="body-m description">
        Эта дизайн-система — один из ключевых аспектов формирования и развития цифровой Экосистемы Ростелекома.
        Дизайн-система обеспечивает продукты.
      </p>

      <div class="margin-top">
        <button appButton fill="solid" routerLink="board">Доска</button>
        <button appButton fill="outline" class="margin-left">Начать</button>
      </div>

    </div>
  </app-tabs>

  <app-scene></app-scene>
</div>
