<div class="platform">
  <app-graphic-component-container class="platform-card">
    <app-graphic-component-container-name>
      Мобильная платформа
    </app-graphic-component-container-name>

    <app-graphic-component-container-content class="platform-card-content" cdkDropList>
      <div
        #mobile
        class="platform_mobile"
        cdkDrag
        (cdkDragDropped)="handleMobileDrop($event)"
        (cdkDragStarted)="handleStartedPoint($event, true)">
      </div>
    </app-graphic-component-container-content>

    <app-graphic-component-container-description>
      Кнопки использвуются для основных взаимодействий с пользователями
    </app-graphic-component-container-description>
  </app-graphic-component-container>

  <app-graphic-component-container class="platform-card" cdkDropList>
    <app-graphic-component-container-name>
      Десктопная платформа
    </app-graphic-component-container-name>

    <app-graphic-component-container-content class="platform-card-content">
      <div class="platform_desktop"
           cdkDrag
           (cdkDragDropped)="handleDesktopDrop($event)"
           (cdkDragStarted)="handleStartedPoint($event, true)"></div>
    </app-graphic-component-container-content>

    <app-graphic-component-container-description>
      Кнопки использвуются для основных взаимодействий с пользователями
    </app-graphic-component-container-description>
  </app-graphic-component-container>

  <app-graphic-component-container class="platform-card" cdkDropList>
    <app-graphic-component-container-name>
      Свитч
    </app-graphic-component-container-name>

    <app-graphic-component-container-content class="platform-card-content">
      <app-toggle cdkDrag
           (cdkDragDropped)="handleSwitchDrop($event)"
           (cdkDragStarted)="handleStartedPoint($event)"></app-toggle>
    </app-graphic-component-container-content>

    <app-graphic-component-container-description>
      Кнопки использвуются для основных взаимодействий с пользователями
    </app-graphic-component-container-description>
  </app-graphic-component-container>

</div>
