@import "src/styles";

.chip {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  background: $grayscale-9;
  text-align: center;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include body-m(black);
  transition: 100ms ease-in-out;
  cursor: pointer;
  user-select: none;

  &_active {
    background: $primary-2;
    @include body-m($grayscale-10);
  }
}
